# Python virtual environment
.venv/
__pycache__/

# Data Files
*.db
*.parquet

# Local Working & Cache Artifacts
*~
*.swp
.sass-cache/

# Visual Studio working files
.vs
/demo-feature-store/diabetes_model.pkl
/demo-feature-store/feature_list.pkl
