# Jekyll/Build Output
_site/
docs/_site
docs/CNAME
docs/jekyll-cache
.jekyll-cache/

# Bundler/Ruby Dependencies
vendor/
.bundle/
docs/vendor
docs/.bundle

# Local Working & Cache Artifacts
*~
*.swp
.sass-cache/

# Visual Studio working files
.vs

# Data files
.db
.parquet
/demo-feature-store/nhs_risk_calculator/data/online_store.db
/demo-feature-store/nhs_risk_calculator/data/patient_gp_data.parquet
/demo-feature-store/nhs_risk_calculator/data/registry.db
