<header class="max-w-3xl mx-auto text-white font-sans font-bold tracking-wide -mb-px">
  <div class="flex">
    <h1 class="flex-none text-shadow-md border border-y-0 border-zinc-200">
      <a class="block py-2 px-8 sm:px-12 bg-nhs-bright-blue hover:bg-nhs-blue border-2 border-white" href="/">NHS TECH</a>
    </h1>
    <nav class="flex flex-auto text-nhs-bright-blue uppercase text-xs font-semibold tracking-wide justify-end">
      <a class="flex items-center px-4 hover:border-b-nhs-bright-blue border-y border-transparent" href="/code/">Code</a>
      <a class="flex items-center px-4 hover:border-b-nhs-bright-blue border-y border-transparent" href="/data/">Data</a>
      <a class="flex items-center px-4 hover:border-b-nhs-bright-blue border-y border-transparent" href="/policy/">Policy</a>
      <a class="flex items-center px-4 hover:border-b-nhs-bright-blue border-y border-transparent" href="/posts/">News</a>
    </nav>
  </div>
</header>
